#bU-TitleFirst { /* Title first di Body Utama */
    
    font-family: 'Roboto', 'Arial', 'Helvetica';
    font-weight: 400;
    color: white;
    padding-top: 50px;
    text-align: center;
}

#bU-TitleDescription { /* Decription untuk #bU-TitleFirst */
    
    font-family: 'Roboto', 'Arial', 'Helvetica';
    font-weight: 300;
    color: white;
    padding-top: 10px;
    text-align: center;
}

#buttonKLLHasilBerkualiti { /* Tukar font Butang Ketahui Lebih Lanjut (KLL) */
    
    font-family: 'Roboto', 'Arial', 'Helvetica'
}

#buttonKLLHasilBerkualitiDiv { /* Padding DIV Butang Ketahui Lebih Lanjut (KLL) */
    
    padding-top: 15px;
}

hr.seperatorCarouselDanbu-TitleFirst { /* Horizontal line bawah carousel. Tukarkannya kepada warna putih dan ada margin kat belah atas */
    
    border: 1px solid white;
    margin-top: 50px;
}