.carousel-inner {
    
    transition: 0.3s;
}

.carousel-inner > .carousel-item { /* Badan carousel */
    
   height: 500px;
}

.carousel-inner > .carousel-item > img { /* Tengahkan position gambar kat dalam carousel */
    
   margin: 0 auto;
}

.carousel-inner > .carousel-item > .carousel-caption { /* Background title dan description */
    
    border-radius: 15px;
    background-color: #282828;
}