.carousel-inner > .carousel-item { /* Badan carousel */
    
   height: 500px;
}

.carousel-inner > .carousel-item > img { /* Tengahkan position gambar kat dalam carousel */
    
   margin: 0 auto;
}

.carousel-inner > .carousel-item > .carousel-caption {
    
    border-radius: 15px;
    background-color: #282828;
}

.carousel-inner > .carousel-item > .carousel-caption > h1 {
    
    
}