.carousel { /* Limitkan max-witdh carousel. Sepatutnya ni boleh betulkan masalah gambar henfon besar sangat tapi tak jadi tapi takplah. */
    
    max-width: 950px;
    margin: 0 auto;
}

.carousel-inner > .carousel-item { /* Badan carousel */
    
   height: 500px;   
}

.carousel-inner > .carousel-item > img { /* Tengahkan position gambar kat dalam carousel */
    
   margin: 0 auto;
   max-height: 100%;
}

.carousel-inner > .carousel-item > .carousel-caption { /* Background title dan description */
    
    border-radius: 15px;
    background-color: #282828;
    opacity: 0.9; /* Bagi transparent sikit kotak tu */
}